.article_title {
    font-size: 36px;
    margin-bottom: 30px;
}
.article_media {
    max-width: 1440px;
    max-height: 500px;
    margin: 0 auto 30px;
    overflow: hidden;
}
.article_head {
    position: relative;
}
.share {
	text-align: center;
	margin-bottom: -25px;
}
.share-button.like {
    padding-top: 36px;
}
.share-button {
    position: relative;
    display: inline-block;
    color: #3d3d3d;
    font-size: 20px;
    font-family: din-light,sans-serif;
    text-align: center;
    margin-right: 30px;
}
.breadcrumbs {
    position: relative;
    margin-bottom: 2px;
    overflow: hidden;
    text-transform: uppercase;
}
.stripe-red {
    content: " ";
    position: absolute;
    top: 50%;
    right: -350px;
    width: 100%;
    height: 7px;
    background: url(../img/stripe-right.png) repeat-x;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.breadcrumbs_link:first-child {
    padding-left: 0;
}
.breadcrumbs_link {
    position: relative;
    color: #000;
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 10px;
    margin-right: 2px;
}
.breadcrumbs_link.active, .breadcrumbs_link:hover {
    color: #911a1d;
}
.breadcrumbs_link:before {
    content: "-";
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1.2;
}
.article_misc {
    color: #4a4a4a;
    font-size: 13px;
    font-family: din-regular,sans-serif;
    margin-bottom: 20px;
}
.article_misc-list, .share-link {
    text-align: right;
}
.article_misc-list>li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
    margin-right: 10px;
    font-size: 12px;
}
.article_misc-list>li:before {
    content: "|";
    position: absolute;
    top: 0;
    right: 0;
}
.article_main {
    width: 800px;
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 20px;
    text-align: justify;
}
.article_main a {
    display: inline;
}
.article_main ul {
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-left: 20px;
    list-style: disc;
}
.article_main ul li {
    margin-bottom: 5px;
}
.article_main p, .article_main ul {
    margin-bottom: 14px;
}
.tags_title {
    font-size: 22px;
    text-transform: uppercase;
}
.tags_link {
    padding: 2px 8px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    background: #911A1D;
}
.tags_link, .tags_title {
    margin-bottom: 10px;
}
.tags_list>li {
    display: inline-block;
}
.comment {
    padding: 30px 20px 10px;
    background: #e4e3e3;
    margin-bottom: 30px;
}
.comment_head {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.comment_head .button_block .button {
    padding: 5px 10px 3px;
    margin-right: 20px;
    border: 1px solid #911a1d;
    background: transparent;
}
.comment_head .button_block .button, .comment_head-title {
    color: #4b4b4b;
    font-size: 18px;
    text-transform: uppercase;
}
.comment_head-title {
    height: 35px;
    line-height: 35px;
}
.comment_area {
    position: relative;
    padding: 55px 0 15px 120px;
}
.article_main .comment_list {
    list-style: none;
}
.pagination_block {
    text-align: center;
    background: 0 0;
}
.sidebar {
    width: 300px;
}
.block, .block_title, .sidebar_block {
    margin-bottom: 20px;
}
.sidebar_list-block {
    position: relative;
    padding: 10px 0;
}
.sidebar_list-block:after, .sidebar_list-block:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 210px;
    height: 20px;
    background: #921a1d;
}
.sidebar_list-block:after {
    right: auto;
    left: 0;
    top: auto;
    bottom: 0;
}
.sidebar_list {
    color: #0c0c0c;
    padding: 30px 20px 10px;
    border: 1px solid #cbcbca;
    background: #fff;
}
.sidebar_block-head {
    text-align: center;
    margin-bottom: 10px;
}
.sidebar_block-head h2 {
    display: inline-block;
    font-size: 32px;
    letter-spacing: 3px;
    padding: 20px;
}
.block_title h2, .sidebar_block-head h2 {
    color: #911A1D;
    text-align: center;
    text-transform: uppercase;
}
.sidebar_list-it {
    position: relative;
    margin-bottom: 20px;
}
.sidebar_list-num {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    font-family: din-medium, sans-serif;
    text-align: right;
    padding-left: 10px;
    border-bottom: 1px solid #911a1d;
}
.sidebar_list-content {
    padding-left: 50px;
}
.sidebar_list-title {
    display: block;
    color: #0c0c0c;
    font-size: 16px!important;
    line-height: 1.2;
    margin-bottom: 4px;
}
.sidebar_list-title:hover {
    color: #911a1d;
}
.sidebar li{
	list-style-type: none;
}

.container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.block_title {
    position: relative;
    text-align: center;
    overflow: hidden;
}
.block_title h2 {
    position: relative;
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0 20px;
    z-index: 1;
}
.news .card, .share .share-button {
    transition: all .2s ease-in-out;
}
.news .card:hover, .share .share-button:hover {
    transform: scale(1.1);
}
/* sidebar */
.sidebar-widget {
    position: relative;
    margin-bottom: 40px;
}
.sidebar-title {
    position: relative;
    margin-bottom: 30px;
    background-color: #f3f3f3;
}
.sidebar-title h2 {
    position: relative;
    color: #ffffff;
    padding: 9px 20px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    background-color: #911A1D;
    text-transform: uppercase;
    margin-bottom: 0;
}
.widget-post {
    position: relative;
    font-size: 14px;
    color: #666666;
    padding: 0px 0px;
    padding-left: 105px;
    min-height: 100px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}
.widget-post .post-thumb {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 85px;
    background-color: #e9ebee;
}
.widget-post .post-thumb a:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 99;
    opacity: 0;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color: rgba(255,255,255,0.50);
}
.widget-post .post-thumb img {
    display: block;
    width: 100%;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.widget-post .post-thumb > a {
    position: relative;
    display: block;
}
.widget-post .post-thumb .overlay {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10;
    opacity: 0;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.widget-post .post-thumb .overlay .icon {
    position: relative;
    width: 30px;
    height: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 26px;
    font-size: 10px;
    padding-left: 3px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    top: 50%;
    margin-top: -16px;
    border: 3px solid #ffffff;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.widget-post .text {
    position: relative;
    top: -4px;
    font-size: 15px;
    margin: 0px 0px 0px;
    font-weight: 500;
    color: #333333;
    line-height: 1.6em;
    text-transform: capitalize;
}
.widget-post .text a {
    color: #000000;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.widget-post .post-info {
    position: relative;
    font-size: 11px;
    color: #777777;
    font-weight: 400;
    text-transform: uppercase;
}
.widget-post .post-info span{
	padding-left: 10px;
}
/* Misc */
.comment_area .select_block select, .comment_head .button_block, .comment_head .button_block .button, .comment_head-title {
    display: inline-block;
}
.clearfix {
	clear: both;
	padding-bottom: 10px;
}
.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}
.float-left {
    float: left!important;
}
.float-right {
    float: right!important;
}
.content ul{
	margin-left: 0;
	margin-top: 0;
}
.content h1 {
    font-size: 1.2em;
    margin-bottom: .5em;
    letter-spacing: 5px;
}
.content figure {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

@media screen and (min-width: 768px){
	.article_misc-list>li {
	    position: relative;
	    display: inline-block;
	    vertical-align: middle;
	    padding-right: 20px;
	    margin-right: 10px;
	    font-size: 14px;
	}	
	.share {
		text-align: left;
	}
	.content h1 {
	    font-size: 1.6em;
	    margin-bottom: .5em;
	    letter-spacing: 5px;
	}
	.article_title {
	    font-size: 36px;
	    margin-bottom: 30px;
	}
	.block_title:before {
	    left: -23px;
	    background: url(../img/stripe-left.png) no-repeat;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	}
	.block_title:after, .block_title:before {
	    position: absolute;
	    top: 50%;
	    width: 400px;
	    height: 7px;
	    content: " ";
	}
	.block_title:after {
	    right: -23px;
	    background: url(../img/stripe-right.png) no-repeat;
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	}
}