.clearfix {
	height: 55px;
}
.team .team-container {
	display: grid;
	grid-template-rows: 400px 400px 400px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px 20px;
	align-items: center;
	justify-content: center;
}
.team .team-container .team-content{
	display: grid;
	grid-template-rows: 180px 11fr;
	grid-template-columns: 1fr;
	height: 100%;
	cursor: pointer;
}
.team .team-container .team-content img{
	height: 100%;
    width: 100%;
}
.team .team-container .team-content .team-text {
	background: #9e0008;
    color: white;
    display: grid;
    grid-template-rows: 5fr 5fr 2fr;
	grid-template-columns: 1fr;
	position: relative;
}
.team .team-container .team-content .team-text .team-logo-container {
	position: absolute;
	left: 50%;
}
.team .team-container .team-content .team-text .team-logo-container .team-logo-content {
	position: relative;
	top: -75px;
	left: -50%;
	width: 150px;
	text-align: center;
}
.team .team-container .team-content .team-text .team-logo-container .team-logo-content .team-logo{
	background: rgba(0, 0, 0, 0.6);
	border-radius: 25px;
}
.team .team-container .team-content .team-text .team-logo-container .team-logo-content .team-logo img{
	padding: 15px;
}
.team .team-container .team-content .team-text .team-logo-container .team-logo-content .team-name{
	margin-top: 15px;
	text-align: center;
	letter-spacing: 2px;
	font-weight: bold;
}
.team .team-container .team-content .team-text .team-logo-container .team-logo-content .team-profile{
	margin-top: 45px;
	text-align: center;
}
.team .team-container .team-content .team-text .team-logo-container .team-logo-content .team-profile a{
	color: white;
}
.team .team-container .team-content .team-text .team-logo-container .team-logo-content .team-profile a:hover{
	color: #6d6d6d;
}

@media screen and (max-width: 480px){
	.team .team-container {
		grid-template-rows: repeat(12, 400px);
		grid-template-columns: 1fr;
		padding: 0px 20px;
	}
}