li {
	margin-bottom: 10px;
}
.clearfix {
	height: 55px;
}
.terms-container {

}
.terms-container .terms-content {
	text-align: justify;
}
.terms-container .terms-content .title {
	margin-top: 1.5rem;
	text-align: left !important;
}
.terms-container .terms-content .dotted {
	list-style-type: disc;
	margin-left: 50px;
}

@media screen and (max-width: 480px) {
	.terms-container .terms-content .title {
		margin-bottom: 1.5rem;
	}
	.terms-container .terms-content .dotted {
		margin-left: 30px;
	}
}