:root {
    --color-primary: #9E0008;
    --color-primary-dark: #790F01;
    --color-primary-font: #FEEDBF;

    --color-dark-grey-1: #333333;
    --color-dark-grey-2: #292929;
    --color-dark-grey-3: #222222;
}

@font-face {
    font-family: 'Eurostile Regular';
    src: url(fonts/Eurostile.ttf);
}

* {
    // margin: 0;
    // padding: 0;
    font-family: 'Eurostile Regular', sans-serif;
}

.text-center{
  text-align: center;
}
// *,
// *::before,
// *::after {
//     box-sizing: inherit;
// }

// html {
//     box-sizing: border-box;
//     // font-size: 62.5%; // 1rem = 10px, 10 / 16 = 62.5%
// }
