.logo {
    padding-right: 80px;
    position: relative;
    transition: 400ms all;
    -webkit-transition: 400ms all;
    z-index: 3;
    float: left;
    margin-left: 2.5rem;

    @media screen and (max-width: 1087px) {
        margin-left: 0;
    }
}

.logo:before {
    // content: '';
    // transform: skewX(-33deg);
    // -webkit-transform: skewX(-33deg);
    // background: #790f01;
    // position: absolute;
    // right: 32px;
    // top: -30px;
    // bottom: -11px;
    // left: -1000%;
    // z-index: -2;
    // transition: 400ms all;
    // -webkit-transition: 400ms all;
    // height: 110px;
    content: '';
    -webkit-clip-path: polygon(74% 0, 100% 0%, 86% 100%, 23% 100%);
    clip-path: polygon(74% 0, 100% 0%, 86% 100%, 23% 100%);
    background: var(--color-primary-font);
    position: absolute;
    right: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    left: -48px;
    z-index: -1;
    // height: 131%;
    height: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

// .logo:after {
//     content: '';
//     // transform: skewX(-33deg);
//     // -webkit-transform: skewX(-33deg);
//     -webkit-clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
//     clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
//     background: #9e0008;
//     position: absolute;
//     right: 10px;
//     border-top-left-radius: 5px;
//     border-bottom-left-radius: 5px;
//     // top: 0px;
//     // bottom: 0;
//     // left: 8%;
//     left: 0;
//     z-index: -1;
//     height: 100%;
//     box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
// }
.logo:after {
    content: '';
    -webkit-clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
    background: #9e0008;
    position: absolute;
    right: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    left: -48px;
    z-index: -1;
    // height: 131%;
    height: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.videobox-icon-play {
    &__thumbnails--small {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        position: absolute !important;
        height: 35% !important;
        width: 20% !important;

    }

    &__thumbnails--big {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        position: absolute !important;
        height: 25% !important;
        width: 15% !important;

    }
}

.card.detail-page {
    box-shadow: none;

    .card-content {
        padding: 1.5rem 0 0 0;
    }
}

.nav-down {
    position: fixed;
    z-index: 2000;
    top: 0;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

.nav-up {
    top: -40px;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

.view-more {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--color-dark-grey-2);
    padding-bottom: 10px;
    background: url(../img/more.png) repeat-x;
    background-position: 0px 100%;
    background-size: 83px auto;
    -webkit-animation: m-btn_more 4s infinite linear;
    animation: m-btn_more 4s infinite linear;
    -webkit-transition: 0.4s cubic-bezier(0.15, 0.63, 0.32, 0.96);
    -moz-transition: 0.4s cubic-bezier(0.15, 0.63, 0.32, 0.96);
    -ms-transition: 0.4s cubic-bezier(0.15, 0.63, 0.32, 0.96);
    -o-transition: 0.4s cubic-bezier(0.15, 0.63, 0.32, 0.96);
    transition: 0.4s cubic-bezier(0.15, 0.63, 0.32, 0.96);
}

.view-more:hover {
  -webkit-animation: m-btn_more_hover 2.5s infinite linear;
  animation: m-btn_more_hover 2.5s infinite linear;
}

@keyframes m-btn_more {
    0% {
        background-position: 0px 100%;
    }

    100% {
        background-position: 84px 100%;
    }
}

@-webkit-keyframes m-btn_more_hover {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -84px 100%;
    }
}