.header{
    background-color: var(--color-dark-grey-2);

    height: calc(2rem + 1px);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .7 s ease;

    @media screen and (max-width: 1087px){

        // display: none !important;
    }

    .footer-icon-header{
        display: flex;
        margin-right: 1rem;

        .footer-item{
            padding: .5rem;
            line-height: normal;
        }
    }
}

.card-content{
  .fb{
    background: url(../img/facebook.png) center no-repeat;
    background-size: cover;
    display: inline-block;
    width: 18px;
    height: 18px;
    text-decoration: none;
    margin-right: 4px;
    float: right;
    margin-top: 3px;
  }
  .tw{
    background: url(../img/twitter.png) center no-repeat;
    background-size: cover;
    display: inline-block;
    width: 18px;
    height: 18px;
    text-decoration: none;
    margin-right: 4px;
    float: right;
    margin-top: 3px;
  }
  .read-more{
    font-size: 0.8em;
    display: inline-block;
    text-decoration: none;
    color: #9f2c1c;
    font-family: 'Century Gothic', sans serif;
    width: auto;
  }

  em{
    font-size: 0.8em;
    font-family: 'Century Gothic', sans serif;
    color: #777777;
    font-weight: bold;
  }
}

.h-divider{
  border-bottom: 3px solid #d43723;
    width: 60px;
    margin: 10px auto 50px;
}
.signin{
  background-color: var(--color-dark-grey-2);
  width: 100%;
  padding: 0 25%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 1001;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr 3fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all .5s ease-out;
    .box{
      border: 2px solid white;
      background: none;
      color: white;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .5s ease-out;
      margin-bottom: 0;

      img{
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
        transition: all .2s ease-out;
      }

      &:hover{
          img{
          width: 55px;
          height: 55px;
        }
      }
    }
}
.navbar.is-primary{

    // padding: .5rem;

    background-color: var(--color-dark-grey-3);
    color: var(--color-primary-font);

    // top: 3rem;
    left: 1rem;
    right: 1rem;
    margin-right: 1.5rem;
    z-index: 1000;

    @media screen and (max-width: 1087px){
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        margin-right: 0 !important;
    }

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;

    & .navbar-start a.navbar-item{

        font-size: 1.1rem;
        color: var(--color-primary-font);

        &:hover{
            background-color: transparent;
            color: var(--color-primary-font);
        }
    }

    & .navbar-brand a.navbar-item:hover{
        background-color: transparent;
        color: var(--color-primary-font);
    }

    .navbar-item img{
        max-height: 15rem;
        // width: 150px;
        // height: 50px;
    }

    @media screen and (max-width: 1087px){
        .navbar-menu{
            background-color: var(--color-dark-grey-3);
        }
    }
}
#gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 250px;
    grid-gap: 15px;
    z-index: 99;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h1{
        grid-area: title;
    }

    hr{
        grid-area: divider;
    }

    .is-big{
        grid-column: span 2;
    }
}
.hero.is-fullheight{
    min-height: 90vh;
}

.hero.header-image{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FFF;

    & .container-fluid{

        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        transition: all .4s ease;

        // padding: 0 2rem;
        // margin-top: 2rem;

        & .navbar.is-primary{
            border-radius: 5px;
        }

    }

    @media screen and (max-width: 1087px){
        & .container-fluid{

            padding: 0 !important;
            margin-top: 2rem;

            & .navbar.is-primary{
                border-radius: 0 !important;
            }

        }
    }


    & .hero-body .container{

        & .title{
            text-align: center;
            font-size: 2.5rem;

            @media screen and (max-width: 480px){
              margin-bottom: 1.3rem;
            }
        }

        & .subtitle{
            text-align: center;
            font-size: 1.42rem;
        }

        & .cta{
            text-align: center;

            & .button.is-primary.is-inverted.is-outlined:hover{
                background-color: #fff;
                color: var(--color-dark-grey-1);
            }
            & .button.is-primary.is-modified{
              background-color: #9f2c1c;
              font-size: 1em;
              line-height: 1;
              color: white;
              font-family: 'Century Gothic', sans serif;
              font-weight: bold;
              padding: 20px 25px;

              &:hover{
                background-color: transparent;
                border: 2px solid #9f2c1c;
              }
            }
        }
    }
}

.hero.header-image.detail-page{
    background: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    & .container-fluid{

        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        transition: all .4s ease;

        // padding: 0 2rem;
        // margin-top: 2rem;

        & .navbar.is-primary{
            border-radius: 5px;
        }

    }

    @media screen and (max-width: 1087px){
        & .container-fluid{

            padding: 0 !important;
            margin-top: 2rem;

            & .navbar.is-primary{
                border-radius: 0 !important;
            }

        }
    }


    & .hero-body .container{
        & .title{
            text-align: center;
            font-size: 2.5rem;

            @media screen and (max-width: 480px){
              margin-bottom: 1.3rem;
            }
        }

        & .subtitle{
            text-align: center;
            font-size: 1.42rem;
        }

        & .cta{
            text-align: center;

            & .button.is-primary.is-inverted.is-outlined:hover{
                background-color: #fff;
                color: var(--color-dark-grey-1);
            }
            & .button.is-primary.is-modified{
              background-color: #9f2c1c;
              font-size: 1em;
              line-height: 1;
              color: white;
              font-family: 'Century Gothic', sans serif;
              font-weight: bold;
              padding: 20px 25px;

              &:hover{
                background-color: transparent;
                border: 2px solid #9f2c1c;
              }
            }
        }
    }
}

.hero.is-danger.is-bold.divider{
    background-image: url(../img/banner-supersoccer-gif.gif);
    background-position: center center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: contain;
    background-color: #FFF;
    margin-bottom: 30px;
}

.hero.is-large.event-detail{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/slider/futsal.jpg);
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: multiply;
}

.section.news{

    .container{

        & > .title{
            text-align: center;
            font-size: 2.5rem;
        }

        & .news-title{
            text-transform: uppercase;
            color: var(--color-primary-dark);
        }

        & .news-content{
            color: var(--color-grey-dark-1);
        }
    }
}

.overlay.black{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  z-index: 2;
}
.section.news.gallery{
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
}

footer{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background: var(--color-primary);

    ul.footer-menu {
        width: 100%;
        text-align: center;
        margin: 15px auto;

        li{
            display: inline;
            margin-right: 5px;
            a{
                color: white;
                opacity: .7;
                transition: all .3s ease-out;
                &:hover{
                    opacity: 1;
                }
            }
            &:not(:last-child)::after{
                content: "|";
                margin-left: 5px;
                color: white;
            }
        }

        &.secondary{
            margin: 20px auto 5px auto;
            font-size: 12px;
        }

        &.sosmed{
            font-size: 20px;
            margin: 15px auto;
            li{
                &:not(:last-child)::after{
                    content: " ";
                    margin-left: 5px;
                    color: white;
                }
            }
        }
    }

    .footer-copyright{
        font-size: 13px;
        color: white;
        opacity: .6;
    }
}

.footer-1{

    background-color: var(--color-dark-grey-1);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 2rem;
    width: 100%;
    padding: 2rem 1rem;

    .footer-link{

        display: flex;

        & > .footer-item:not(:last-child){
            margin-right: 3rem;
        }

        & > .footer-item a{
            &:link,
            &:visited{
                color: var(--color-primary-font);
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    .footer-icon-1{

        display: flex;

        & > .footer-item a{
            &:link,
            &:visited{
                color: var(--color-primary-font);
                text-decoration: none;
                cursor: pointer;
                font-size: 1.3rem;
                margin-left: 1.2rem;
            }
        }
    }

    p{
        color: white;
        font-size: .8rem;
    }

}

@media screen and (min-width: 769px), print{
    .hero.is-large.event-detail .hero-body{
        padding-bottom: 5rem;
        padding-top: 3rem;

        .column.event-detail{
            width: 25rem;
        }
    }
}

@media screen and (max-width: 769px), print{
    .hero.is-large.event-detail .hero-body{

        .column.event-detail{
            width: auto;
        }
    }
}

.is-fixed-top{
    border-radius: 0 !important;

    .hero.header-image{

        & .container-fluid{

            padding: 0;
            margin-top: 0;

            & .navbar.is-primary{
                border-radius: 10px;

            }

        }
    }
}

.u-large-text{
    text-align: center;
    font-size: 1.6rem;

    @media screen and (max-width: 769px), print{

        font-size: 1.3rem;
    }
}

.section.club{

    h1{
        text-align: center;
        font-size: 2.6rem;
    }
}

.carousels{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
}

.hero.is-primary .tabs.is-boxed li.is-active a{
  background-color: #9E0008;
  border-color: var(--color-dark-grey-3);
  color: white;
  border-color: #9E0008;
  transition: all .3s ease-out;

  &:hover{
    background-color: #222222;
    color: #FFFFFF;
    border-color: #222222;
  }
}

.hero-carousel{
    .slick-list, .slick-track{
        height: 100%;
    }
}


.carousels-nav .slick-list .slick-track{
    transform: none !important;
    a.slick-slide{
        text-align: center;
        border-radius: 0;

        &.slick-current{
            background-color: #9E0008;
            color: #FFFFFF;
        }
        &:not(.slick-current){
            background-color: #FFFFFF;
            color: #222222;
        }
    }
}
.hero-caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: initial;
    text-align: center;
    background-color: rgba(0,0,0,.3);

    .container{
        text-align: center;

        h1.caption-title{
            font-size: 3em;
            margin-bottom: 5px;
        }

        h2.caption-subtitle{
            font-size: 2em;
            margin-bottom: 15px;
        }

        .cta .button{
          background-color: #9E0008;
          transition: all .3s ease;

          &:hover{
            background-color: white;
            color: #9E0008;
          }
        }
    }
}

.news-grid{
    display: grid;
    grid-template-columns: 20vw repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 35px;

    .news-item{
        position: relative;
        height: 100%;
        transition: all .3s ease-out;
        border-radius: 5px;

        img.is-background{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        .news-detail{
            position: absolute;
            bottom: 0;
            left: 0;
            padding-left: 10px;
            padding-bottom: 15px;
            width: 100%;
            background-image: linear-gradient(transparent 0%, rgba(34, 34, 34, 0.5) 25%, rgba(34,34,34,0.75) 60%, #222 90%);
            transition: all .3s ease-out;

            .news-type{
                color: white;
                font-size: .8rem;
            }

            .news-title{
                color: white;
                font-size: 1.3rem;
            }

            .news-meta{
                color: white;
                font-size: .7rem;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }

        &.is-big{
            grid-column: span 2;
        }

        &:hover{
            position: relative;
            transform: translateY(-7px);
            box-shadow: 0px 3px 15px rgba(0,0,0,0.5);

            .news-detail{
                background-image: linear-gradient(transparent 0%, rgba(34, 34, 34, 0.5) 25%, rgba(158,0,8,1) 90%);
            }
        }
    }
}

// List news
.list-news {

    // OPTION LIST
    .list-news-options {
        background-color: #EDEDED;
        padding: 1rem;

        &__label {
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: .5rem;
        }
    }

    // POST LIST
    .list-news-item {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);

        &__thumbnail {
            grid-column: span 2;
            grid-row: span 2;
        }

        &__title {
            grid-column: span 2;

            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.1;
            padding: .6rem 0;
        }

        &__author {
            grid-column: 1;

            font-weight: bold;
            margin-bottom: .6rem;
        }

        &__date {
            grid-column: 2;

            font-weight: bold;
            margin-bottom: .6rem;

        }

        &__excerpt {
            grid-column: span 2;
        }
    }
}

section.gallery{
    .title{
        text-align: center;
    }
}
.gallery-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 35px;

    .gallery-item{
        position: relative;
        height: 100%;
        transition: all .3s ease-out;
        border-radius: 10px;
        .is-overlay{
            background-color: rgba(0,0,0,.8);
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            display: none;
            color: white;
            transition: all .2s ease;
        }

        img.is-background{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        img.is-forvideo{
            position: absolute;
            right: 10px;
            top: 10px;
            max-width: 35px;
        }
        .gallery-detail{
            position: absolute;
            bottom: 0;
            left: 0;
            padding-left: 10px;
            padding-bottom: 15px;
            width: 100%;
            background-image: linear-gradient(transparent 0%, rgba(34, 34, 34, 0.5) 25%, rgba(34,34,34,0.75) 60%, #222 90%);

            .gallery-type{
                color: white;
                font-size: .8rem;
            }
        }

        &.is-big{
            grid-column: span 2;
        }
        &:hover{
            position: relative;
            transform: translateY(-6px);
            box-shadow: 0px 3px 15px rgba(0,0,0,0.5);

            .is-overlay{
                display: flex;
            }
        }
    }
}

.area-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;

    .area-box{
        text-align: center;
        position: relative;
            cursor: pointer;
        img.is-background{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }

        .city-detail{
            background-color: rgba(158, 0, 8, .4);
            margin: auto;
            width: 150px;;
            padding: 6px;
            position: absolute;
            top: 0;
            left: 0;
        }

        
        &:hover{
            .text{
                background-color:  rgba(0, 0, 0, .6);
            }
        }
        background-color: none;
        height: auto;
    }
}

.winner-detail{
    .area-date{
        font-weight: bold;
        border-bottom: 1px solid #9E0008;
        padding: 6px 0;
        text-align: center;
    }

    .area-winner{
        padding: 7px;
        li{
            margin: 5px 0;
        }
    }
}


.md-step{
    text-align: center;
    cursor: pointer;

    img.is-background{
        max-width: 100%;
        transition: all .3s ease;
    }

    &:not(.active){
        img.is-background{
            filter: grayscale(100%);
        }
    }

    &:hover{
        &:not(.active){
            img.is-background{
                filter: grayscale(0%);
            }
        }
    }
}

#eurofutsal{
    .title{
        text-align: center;
    }
    .hero.is-fullheight{
        min-height: 100vh;
    }
    .btn-view-more{
        color: #9E0008;
        padding: 5px 15px;
        border: 2px solid #9E0008;
        transition: all .2s ease;

        &:hover{
            background-color: #9E0008;
            color: white;
        }
    }

    .regional-box{
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;

        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.3);
        }
        .regional-detail{
            position: absolute;

            .regional-title{
                font-size: 32px;
                font-weight: bold;
            }

            .regional-date{
                font-size: 22px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .bracket-cta{
                margin-top: 15px;
                padding: 7px 15px;
                background-color: #9E0008;
                color: white;
                transition: all .3s ease-out;
                &:hover{
                    background-color: #212121;
                }
            }
        }

        img{
            object-fit: cover;
        }
    }

    .final-box{
        display: grid;
        grid-template-rows: 75px 10px 250px 1fr 50px 3fr;
        text-align: center;

        .final-title{
            font-size: 3em;
        }

        .final-date{
            font-size: 1.2em;
        }

        .final-team{
            display: grid;
            grid-template-columns: 2fr 3fr 1fr 3fr 2fr;
            align-items: center;
            grid-gap: 30px;
            .logo{
                padding-right: 0;
                max-width: 150px;
            }
            span{
                font-size: 1.5em;
            }
            .name{
                font-size: 2em;
                font-weight: bold;

                &.home{
                    text-align: right;
                }

                &.away{
                    text-align: left;
                }
            }
        }
        .final-statistics{
            display: grid;
            grid-template-columns: 3fr 1fr 3fr;
            grid-gap: 70px;
            font-size: 1.2em;
            i{
                margin-right: 8px;
            }
            ul.goals{
                li{
                    display: grid;
                    grid-template-columns: 1fr 3fr 1fr;
                    padding: 15px 0;

                    &:not(:last-child){
                        border-bottom: 1px solid rgba(150, 150, 150, .7);
                    }

                    .type{
                        text-align: right;
                    }
                }
                &.home{
                    text-align: left;
                }
                &.away{
                    text-align: right;
                    .type{
                        text-align: left;
                    }
                }
            }

            .score{
                font-size: 3em;
                font-weight: bold;
                align-items: center;
                justify-content: center;
            }
        }

        .live-stream-box{
            max-width: 70%;
            height: 100%;
            background-color: #3F3F3F;
            margin: auto;
            padding-bottom: 50px;
        }
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 40;
        opacity: .8;

        .navbar.is-primary{
            left: 0;
            right: 0;
            margin-right: 0;

            .navbar-start a.navbar-item{
                color: white;
            }
        }

        .brand-text{
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 2px;
            color: var(--color-primary-font);
        }

        .footer-item{
            padding: 5px;
            margin-right: 15px;
        }
    }
    .showSignInBox img{
        padding-top: 8px;
    }

    .news-grid{
        grid-template-columns: repeat(5, 1fr);

        .news-item{
            padding: 10px;
            background-color: #9E0008;

            .news-detail{
                position: initial;
                background: none;
            }

            &:hover{
                transform: scale(1.1);
            }
        }

    }

    .gallery-grid{
        grid-template-columns: repeat(6, 1fr);
    }

    .stats-box {
        width: 255px;
        height: 255px;
        margin-bottom: 30px;
        background-color: #9E0008;
        color: white;
        padding: 10px;
        position: relative;
        .is-background{
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .stat-title{
            font-size: 2em;
            font-weight: bold;
        }

        .stat-detail{
            position: absolute;
            bottom: 5%;

            .stat-number{
                font-weight: bolder;
                font-size: 3em;
            }

            .stat-text{
                font-size: 1.7em;
                font-weight: bold;
            }
        }
    }
}


.live-button{
    font-weight: bold;
    padding: 5px 15px;
    background-color: #9E0008;
    color: white;
    border-radius: 5px;

    &::before{
        content: "•";
        margin-right: 7px;
    }

    &.blink-me {
      animation: blinker 2s linear infinite;
    }
}

.fixture-table>tbody>tr:hover {
    background-color: #f5f5f5;
}
.table tbody tr:last-child td, .table tbody tr:last-child th {
    border-bottom-width: 1px;
}
.fixture-table{
    margin-bottom: 0 !important;
}
.fixture-table .fixture-heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #f3f3f3;
}
.fixture-table tr td{
    vertical-align: middle;
}
.fixture-table .fixtures-home-a {
    padding: 20px 8px;
    display: block;
    text-decoration: none !important;
    color: #151515;
    background-color: transparent;
}           
.fixture-table .fixtures-result span.total {
    font-size: 1.5em;
    font-weight: bold;
}
.fixtures-home, .fixtures-away{
    width: 44%;
}
.fixture-table .fixtures-result {
    min-width: 120px;
}
.fixtures-home img{    
    width: 38px;
    height: 38px;
}
.fixtures-away img{   
    width: 38px;
    height: 38px;
}
.fixture-table .team-name {
    display: none;
}
.fixture-detail{      
    color: #212121;      
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    .score{
        padding: 20px 0;
        li{
            display: grid;
            grid-template-columns: 50px 1fr 50px;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid rgba(50, 50, 50, .4);

            i{
                grid-area: icon;
            }

            .player{
                grid-area: name;
                text-align: center;
            }

            .time{
                grid-area: time;
            }
        }

        &.away{
            li{
                grid-template-areas: "icon name time";
            }
        }

        &.home{
            li{
                grid-template-areas: "time name icon";
            }
        }
    }
}
@media (min-width: 768px){
    .fixture-table .team-name {
        display: inline;
    }
    .fixtures-home .fixtures-home-a{
        padding-right: 60px;
        position: relative;
    }
    .fixtures-away .fixtures-home-a{
        padding-left: 60px;
        position: relative;
    }
    .fixtures-home img{    
        position: absolute;
        right: 8px;
        top: 10px;
        width: 38px;
        height: 38px;
    }
    .fixtures-away img{    
        position: absolute;
        left: 8px;
        top: 10px;
        width: 38px;
        height: 38px;
    }
}
.award-title {
    padding-top: 50px;
    padding-left: 50px;
    font-size: 110px;
    line-height: 100px;
}

.award-container {
  float: left;
  margin-left: 50px;
}
.best-player {
  width: 275px;
  height: 500px;
  position:relative;
  transform-origin:0 100%;
  transform:skewX(-10deg) translatez(1px);
  overflow:hidden;  
  border: solid 7px #feedbf;
  border-radius: 2px;
}
.best-player:before {
    left:0;
  content:'';
  position:absolute;
  width:175%;
  height:100%;
  background-size: cover;
  background-position:center;
  transform-origin:inherit;
  transform:skewX(10deg);
}
.top-score .best-player:before {
    background-image:url('../img/player/messi.jpg');
}
.mvp .best-player:before {
    background-image:url('../img/player/ronaldo.jpg');
}

.best-player .description {
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    bottom: 0;
    color: white;
    padding: 20px 0;
}
.best-player .description .player-name {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    line-height: 33px;
}
.best-player .description .team-name {
    text-align: center;
    line-height: 20px;
}

.award-container .prize{
    font-size: 27px;
    margin-top: 10px;
}

#eurofutsal.gallery-page{
    .gallery-grid{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        .gallery-item{
            .is-background{
                height: 250px;
            }
        }
    }
}

/* Mobile */
@media only screen and (max-width: 480px) {
    
    .award-container {
        padding:0;
        margin:0;
    }
    .award-container .best-player {
        transform:skewX(0deg);
    }

}

.table-group{
    img{
        max-width: 20px;
    }
}
@keyframes blinker {
  50% {
    opacity: .3;
  }
}

.bg-table-red{
     background-color: #9E0008;
     color: white;
     *:hover{
        background-color: #212121 !important;
     }
}